/* CSS Document */

body{background:skyblue;
}

#fom{
    border:solid gray 1px;
	width: 50%;
	border radius: 5px;
	margin: 100px auto;
	background: white;
	padding: 50px;
}
#btn{
color: #fff;
background: #337ab7;
padding: 5px;
margin-left: 69%;
}
#hed{
background:#669999;
text-align:center;
height:10%;
padding-top:2%;
color:yellow;
}

